<div class="container-header">
  <div class="logo">
  <%= image_tag 'logo.png', class: 'logo' %>
  </div>
</div>
<div class="cocktail-grid">
  <% @cocktails.each_with_index do |cocktail, index| %>
  <div class="card" style="width: 18rem;">
   <%= link_to cocktail_path(cocktail) do  %>
    <%= image_tag picturize(index) %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    </div>
  </div>
  <% end %>

  <div class="add-button-container">
    <%= link_to new_cocktail_path do %>
    <!-- <a href="#" class="btn-add"> -->
      <div class="btn-add">
      <i class="fa fa-plus"></i>
      </div>
    </a>
    <% end %>
  </div>
</div>


